{% extends "pages/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<div class="container">
        <div class="d-flex justify-content-center">
          <form action = "detail" method = "post">
          
            {% csrf_token %}
       
            <div class="searchbar">
                  <input class="search_input" type="text" name = "chuoi"  placeholder="Search...">
                  <div class="search_icon">
                      <i class="fas fa-search"></i>
                  </div>
            </div>
          </form>
        </div>
      </div>
  <br>
      <div class="container">
          <div class="row">
              {% for detail in item %}
              <div class="col-md-3 mb-4" id="ttsp">
                      <div class="card shadow-sm">
                              <a href="./{{detail.id}}" target="_blank"> 
                                      <img width="100%" height="250" src="{{detail.image}}" alt="Tên sản phẩm">
                              </a>
                      <br>
                      <div class="container">
                          <a href="./{{detail.id}}" class="card-link text-body">
                              <h5 data-toggle="tooltip" data-placement="bottom" [title]=data.ProductName class="card-title text-truncate">{{detail.ProductName}}</h5>
                          </a>
                          <hr>
                          <h5 style="color:#16a085;" class="text-right">
                            {{detail.Price}}
                          </h5>
                      </div>
                      </div>
              </div>
              {% endfor %}
          <!-- @endforeach -->
        </div>
    </div>
{% endblock %}