{% extends "pages/base.html" %}
{% load static %}
{% block title %}HOME{% endblock %}
{% block style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


<div class="container-fluid">
<div class="row">    
        <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
            <ul class="sidenav admin-sidenav list-unstyled">
                <li><a href="/tgdd">Thế giới di động</a></li>
                <li><a href="/fpt">FPT shop</a></li>
                <li><a href="/hh">Hoàng Hà mobile</a></li>
                <li><a href="/vta">Viễn Thông A</a></li>
                <li><a href="/mn">Mai Nguyên</a></li>          
            </ul>
        </div>
</div>
</div>
<div class="container">
        <div class="d-flex justify-content-center">
          <form action = "detail" method = "post">
          
            {% csrf_token %}
       
            <div class="searchbar">
                  <input class="search_input" type="text" name = "chuoi"  placeholder="Search...">
                  <div class="search_icon">
                      <i class="fas fa-search"></i>
                  </div>
            </div>
          </form>
        </div>
      </div>
  <br>
      <button type="button" class="btn btn-primary"><a href = "/sortbl">Sortbl</a></button>
      <button type="button" class="btn btn-primary"><a href = "/sortlb">Sortlb</a></button>
  <br>
      <div class="container">
          <div class="row">
              {% for detail in item %}
              <div class="col-md-3 mb-4" id="ttsp">
                      <div class="card shadow-sm">
                              <a href="{{detail.id}}" target="_blank"> 
                                      <img width="100%" height="250" src="{{detail.image}}" alt="Tên sản phẩm">
                              </a>
                      <br>
                      <div class="container">
                          <a href="{{detail.id}}" class="card-link text-body">
                              <h5 data-toggle="tooltip" data-placement="bottom" [title]=data.ProductName class="card-title text-truncate">{{detail.ProductName}}</h5>
                          </a>
                          <hr>
                          <h5 style="color:#16a085;" class="text-right">
                            {{detail.Price}}
                          </h5>
                      </div>
                      </div>
              </div>
              {% endfor %}
        </div>
    </div>
{% endblock %}